<div class="nested-fields">
  <%= f.label :sentence, "sentence" %>
  <%= f.text_field :sentence %>
  <%= f.hidden_field :page_id, :value => @page.id %>
  <%= link_to_remove_association "delete", f %>
</div>