<div class="nested-fields">
  <%= f.label :content, "meaning" %>
  <%= f.text_field :content %>
  <%= f.hidden_field :page_id, :value => @page.id %>
  <%= link_to_remove_association "delete", f %>
</div>