<div class="nested-fields d-flex align-items-center mb-3">
  <%= f.text_area :content, class: 'col-11 field-style border border-dark' %>
  <%= link_to_remove_association "×", f, class: 'col-1 link-style text-light' %>
</div>