<div class="container col-7 text-light mt-5">
    <div class="text-center">
        <h1>ABOUT</h1>
        <p>Hello, welcome to URPUS.</p>
    </div>
    <div>
        <p>
            If you are learning a new language, URPUS will be your best partner.<br>
            With URPUS, you will no longer have to lose vocabulary you learn everyday! This will be the best tool
            to organize, find and review those new words you see in a lot of different sources.
        </p>
    </div>
    <div>
        <p>
            On URPUS, you can categolize your vocabulary by whatever you like.<br>
            If you are watching a series on TV, of course you can categolize new words by every episode you see. Or,
            you could just take notes in classes at school.<br>
            To find more about what you can do, search books that our users have created.<br>
            Just click the button above says "FIND A BOOK" to expand your vocabulary knowledge.
        </p>
    </div>
</div>