<div>
    <div>
        <h2>Welcome.</h2>
        <h1>Create your own corpus on URPUS!</h1>
    </div>
    <div>
        <h2>
            YOU'VE lEARNT<br>
            368 words SO FAR!
        </h2>
        <%= link_to "SEE THOSE WORDS", root_path %>
    </div>
</div>