@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #274D7E;
}


header {
    background-color: #91B6E6;
    color: white;
}

.navbar-toggler {
    width: 70px;
    height: 70px;
}

.fa-list {
    font-size: 50px;
}

.notice, .alert {
    margin-top: 14px;
    margin-left: 14px;
}

main {
    width: 100%;
    min-height: 540px;
    background-color: #91B6E6;
    color: white;
}

footer {
    background-color: #91B6E6;
    color: white;
}

ul {
    list-style: none;
}

.container {
    margin: 0px auto;
}

.error-container {
    padding: 16px;
    background-color: rgba(39,77,126,0.1);
}

.flash-container {
    padding: 8px;
    background-color: rgba(39,77,126,0.1);
}

.header-profile-img-container {
    width: 120px;
    height: 120px;
    padding: 0px 0px;
    
    border-radius: 60px;
}

.profile-img-container {
    width: 180px;
    height: 180px;
    padding: 0px;
    border-radius: 50%;
}

.header-profile-img-container img,
.profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.file-field {
    display: none;
}

.file-field-container {
    
}

.links {
    text-decoration: none;
}

// .nav-link {
    
// }

.btn {
    border-radius: 5px;
    font-weight: bold;
}

.fields {
    background-color: white;
    color: #274D7E;
    // text-align: center;
    border-radius: 5px;
    border: none;
}

th {
    font-weight: normal;
    padding-right: 20px;
}

td {
    
}

.btn-light {
    color: #91B6E6;
}

.btn-outline-light {
    border: solid 2px white;
}

// .btn-sky {
//     color: white;
//     border: solid white 4px;
//     padding-top: 2px;
//     padding-bottom: 2px;
// }

.btn-blue {
    background-color: #4D72A2;
    color: white;
}

.btn-navy {
    background-color: #274D7E;
    color: white;
}

.text-navy {
    color: #274D7E;
}

.book-title {
    color: #274D7E;
}

.page-title {
    color: #4D72A2;
}

.new-word-container {
    background-color: white;
    padding: 10px;
    color: #274D7E;
    border-radius: 10px;
}

.word-field {
    background-color: white;
    color: #274D7E;
    border-radius: 5px;
}

.fa-circle-check, .text-green {
    color: #14FE3B;
}

.cross {
    width: 45px;
    height: 45px;
}

.index {
    color: #274D7E;
    background-color: white;
    border-radius: 3px;
    padding-left: 8px;
    margin-top: 3px;
}

.column-container {
    color: #274D7E;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.topic-tag {
    // background-color: #4D72A2;
}

.topic-sidebar {
    border: solid white 4px;
    border-radius: 8px;
    padding: 12px;
}


.fa-gears {
    font-size: 24px;
    border: solid 3px white;
    border-radius: 5px;
}

.fa-gear {
    font-size: 24px;
}

.fa-circle-plus {
    font-size: 24px;
}

.column-field {
    height: 200px;
}

.book-field, .topic-field {
    height: 38px;
}
