@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #274D7E;
}


header {
    height: 80px;
    background-color: #91B6E6;
    color: white;
}

// .navbar-toggler {
//     width: 70px;
//     height: 70px;
// }

.logo {
    height: 96px;
    width: 132px;
}

.nav-mypage {
    display: none;
}

.fa-list {
    font-size: 50px;
}

.notice, .alert {
    margin-top: 14px;
    margin-left: 14px;
}

main {
    width: 100%;
    min-height: 540px;
    background-color: #91B6E6;
    color: white;
}

footer {
    background-color: #91B6E6;
    color: white;
}

ul {
    list-style: none;
}

.container {
    margin: 0px auto;
}

.error-container {
    padding: 16px;
    background-color: rgba(39,77,126,0.1);
}

.flash-container {
    padding: 8px;
    background-color: rgba(39,77,126,0.1);
}

.header-profile-img-container {
    width: 110px;
    height: 110px;
    padding: 0px 0px;
    
    border-radius: 50%;
}

.profile-img-container {
    width: 160px;
    height: 160px;
    padding: 0px;
    border-radius: 50%;
}

.header-profile-img-container img,
.profile-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-file-field {
    display: none;
}

.link-style {
    text-decoration: none;
}

.word-link {
    color: white;
}
// .nav-link {
    
// }

.btn {
    border-radius: 5px;
    font-weight: bold;
}

.field-style {
    background-color: white;
    color: #274D7E;
    // text-align: center;
    border-radius: 5px;
    border: none;
    padding: 0px 4px;
}

th {
    font-weight: normal;
}

td {
    
}

.btn-light {
    color: #91B6E6;
}

.btn-outline-light {
    border: solid 2px white;
}

// .btn-sky {
//     color: white;
//     border: solid white 4px;
//     padding-top: 2px;
//     padding-bottom: 2px;
// }

.btn-blue {
    background-color: #4D72A2;
    color: white;
}

.btn-navy {
    background-color: #274D7E;
    color: white;
}

.btn-green {
    background-color: #AADBA7;
    color: white;
}

.btn-pink {
    background-color: #E6B5B5;
    color: white;
}

.text-navy {
    color: #274D7E;
}

.book-title {
    color: #274D7E;
}

.page-title {
    color: #4D72A2;
}


.new-word-container {
    background-color: white;
    // padding: 24px;
    color: #274D7E;
    border-radius: 10px;
    position: fixed;
    top: 160px;
}

.fa-circle-check, .text-green {
    color: #14FE3B;
}

.cross {
    width: 45px;
    height: 45px;
}

.index {
    color: #274D7E;
    background-color: white;
    border-radius: 3px;
    padding-left: 8px;
    margin-top: 3px;
}

.column-container {
    color: #274D7E;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.topic-sidebar {
    border: solid white 4px;
    border-radius: 8px;
    padding: 12px;
}

.fa-gears-box {
    border: solid 3px white;
    border-radius: 5px;
}

.fa-gears {
    font-size: 20px;
    // border: solid 3px white;
    // border-radius: 5px;
}

.fa-gear {
    font-size: 24px;
}

.fa-circle-plus {
    font-size: 24px;
}

.column-field {
    height: 200px;
}

.book-field, .topic-field {
    height: 38px;
}

.footer-text {
    line-height: 56px;
}

.page-btn :nth-child(odd) {
    color: black;
}

.word-list-container {
    display: flex;
}

.word-list-group {
    width: 50%;
}

.word-list-group-left {
    margin-right: 20px;
    display: flex;
}

.word-list-group-right {
    display: flex;
}

.word-list {
    margin-right: 20px;
    width: 50%;
}

.word-list:nth-child(2n) {
    margin-right: 0;
}

.mypage-note-mobile {
    display: none;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:991.5px) {
    
  header {
      z-index: 10;
  }
  
  .navbar-toggler {
      border: 2px solid white;
      border-radius: 3px;
  }
    
  .navbar-toggler .fa-bars {
      font-size: 56px;
      color: white;
  }
  
  .navbar-nav {
      text-align: center;
      background-color: rgba(39,77,126,0.7);
      border-radius: 5px;
      width: 30%;
  }
  
  .nav-link a {
      width: 90%;
  }
  
  .nav-profile-img {
      display: none;
  }
  
  .nav-mypage {
      display: inline-block;
  }
  
  .container {
      width: 80%;
  }
  
  .new-book-field {
      height: 40px;
  }
  
  .create-gears-box {
      height: 43px;
  }
  
  .word-list-group {
    display: block;
  }
  
  .word-list {
      width: 100%;
  }

}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
    
  header {
      height: 50px;
  }

  .logo {
      height: 60px;
      width: 82px;
  }

  .navbar-toggler .fa-bars {
      font-size: 40px;
  }

  


}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:576px) {
  
//   header {
//       z-index: 10;
//   }
  
  .navbar-nav {
      text-align: center;
      width: 100%;
  }
  
  .navbar-toggler .fa-bars {
      font-size: 32px;
  }
  
  .nav-link a {
      width: 80%;
  }
  
  h1 {
      font-size: 24px;
  }
  
  h2 {
      font-size: 20px;
  }
  
  h3 {
      font-size: 18px;
  }
  
  .container {
      width: 90%;
  }
  
   .new-book-field {
      height: 35px;
  }
  
  .fa-gears {
      font-size: 16px;
  }
  
  .newbook-pages {
      display: none;
  }
  
  .create-gears-box {
      height: 40px;
  }
  
  .new-page-field {
      height: 35px;
  }
  
  .edit-page-field {
      height: 35px;
  }
  
  .word-name-show {
      font-size: 30px;
  }
  
  .mypage-note {
      display: none;
  }
  
  .mypage-note-mobile {
      display: block;
  }
  
  .mypage-note-mobile p {
      margin-bottom: 0;
      padding-left: 4.8px;
  }
  
}